@import "src/scss/settings/fonts";
@import "src/scss/settings/colors";

.homeSimpleStepsBox {
  width: 1900px;
  height: 624px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 55px;

  &_title {
    width: 416px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__content {
      width: 416px;
      height: 52px;
      font-size: 38px;
      color: $text-color;
      line-height: 55px;
      letter-spacing: -0.76px;
      text-align: center;
      font-family: $font-base;
    }
  }

  &_instruction {
    width: 100%;
    height: 325px;
    margin-top: 34px;
    background-color: $section-color;
    display: flex;
    align-items: center;

    &__step1 {
      width: 130px;
      height: 172px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin-left: 414px;
      margin-right: 172px;
    }

    &__step2 {
      width: 134px;
      height: 178px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin-right: 171px;
    }

    &__step3 {
      width: 128px;
      height: 190px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin-right: 173px;
    }

    &__step4 {
      width: 164px;
      height: 175px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin-right: 414px;
    }
  }

  &_button {
    width: 310px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    font-size: 36px;
    font-family: $font-base;
    font-weight: lighter;
    border: 0.75px solid $hover2-color;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
  }
}

.step1_title {
  margin-top: 8px;
  font-family: $font-base;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:after {
    margin-top: 10px;
    border: 0.25px solid $after-border-color;
    width: 65%;
    content: "";
  }
}

.step1_content {
  margin-top: 12px;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  width: 100%;
  height: 40px;
}

.step2_title {
  width: 100%;
  margin-top: 10px;
  font-family: $font-base;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:after {
    margin-top: 12px;
    border: 0.25px solid $after-border-color;
    width: 50%;
    content: "";
  }
}

.step2_content {
  margin-top: 14px;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  width: 100%;
  height: 40px;
}

.step3_title {
  width: 128px;
  height: 46px;
  font-family: $font-base;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top:5px;

  &:after {
    margin-top: 14px;
    border: 0.25px solid $after-border-color;
    width: 45%;
    content: "";
  }
}

.step3_content {
  margin-top: 18px;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  width: 100%;
  height: 40px;
}

.step4_title {
  width: 100%;
  margin-top: 7px;
  font-family: $font-base;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:after {
    margin-top: 12px;
    border: 0.25px solid $after-border-color;
    width: 45%;
    content: "";
  }
}

.step4_content {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  width: 100%;
  height: 40px;
}

.Link {
  text-decoration: none;
  color: $text2-color;
}